.icons-navbar-color{
    color: white;
}
.nav-link-color{
    color: #fff;
}
.nav-link-color2{
    color:black;
    outline: none !important;
    box-shadow: none !important;
}
.navbar{
    background-color:  blueviolet;
}
.esci-font{
    background-color: blueviolet;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.banner-color{
    height: 41rem;
    background-color: #CDA5F3;

}
.saldo-font{
    font-size: 2rem;
}
.padding-richiedi{
    padding-top: 2rem;
}
.padding-buongiorno{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.card-options-font{
    background-color: #d7b7f6;
    color: black;
    border:1px double #CDA5F3 !important;

}
.card-font-color{
    background-color: #e1c9f8;
}
.card-button-options-font{
    height: 3 rem;
    color: black;
    background-color: #d7b7f6;
    border:1px double #CDA5F3 !important;
    outline: none !important;
    box-shadow: none !important;
}
.card-body-text-color{
    color: black;
}
.grafico-padding{
    padding-left: 3rem;
}
.dropdown-menu-font{
    background-color: #d7b7f6;
}
.colletta-dropdown-option:hover{
    height: 2rem;
    color: black;
    background-color: #CDA5F3;
    border:1px double #CDA5F3 !important;
    outline: none !important;
    box-shadow: none !important;

}
.list-inline-item > a{
    color: black;
}
.search-input-dim{
    width: 70%;
}
.search-bar-font-1{
    background-color: #CDA5F3;
    border: 1px solid  #c391f3;
}
.search-bar-font-2{
    background-color: #ebdafb;
    outline: none !important;
    box-shadow: none !important;
}
.details-list-right{
    padding-top: 0.5rem;
    height: 34rem;
    overflow-y: auto;
}
.details-list-left{
    padding-top: 6rem;
    padding-left: 3rem;
}
.advertise-section{
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: blueviolet;
}
.text-bold{
    color: white;
    font-weight: 400;
}
footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: blueviolet;
}
@media screen and (min-width: 768px){

    .advertise-section{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}